/* Fonts */
@font-face {
  font-family:  Noto Sans;
  src: url(../Fonts/NotoSans-Medium.ttf);
}
@font-face {
  font-family:  Montserrat;
  src: url(../Fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family:  MontserratNormal;
  src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family:  Inter;
  src: url(../Fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family:  CalgaryDemo;
  src: url(../Fonts/CalgaryDemo/Calgary_DEMO.ttf);
}

/* Var() */
:root {
  --mediumFont: 24px;
}


body {
  margin: 0;
  font-family: Noto Sans;
  /* background-color: #e7e7e7 !important; */
  width: 100px !important;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  font-family: Noto Sans;
  scroll-behavior: smooth;
}
code {
  font-family:Noto Sans;
  scroll-behavior: smooth;
}
html{
  font-family: Noto Sans;
  scroll-behavior: smooth;
}







.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}