/** @format */

/* Home Screen */
.Index_Center_Banner {
  width: 100%;
  padding: 10px;
}

.Index_Center_Banner img {
    width: 90%;
    display: block;
    margin: auto;
}


.first2 {
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
  }
  .first2 img {
    width: 100%;
    height: 600px;
  }