/** @format */

.Footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  margin-top: 40px;
}
.Footer .Upper_Footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.Footer .Upper_Footer .Left_Comp {
  width: 20%;
  padding: 20px;
  align-self: flex-end;
}
.Footer .Upper_Footer .Mid_Comp {
  width: 20%;
  padding: 20px;
}
.Footer .Upper_Footer .Right_Comp {
  width: 40%;
  padding: 20px;
}

.Footer .Upper_Footer .Left_Comp .Social_Div {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
}
.Footer .Upper_Footer .Left_Comp .Social_Div div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Footer .Upper_Footer .Left_Comp .Social_Div p {
  margin: 0;
  font-family: Noto Sans;
  font-size: 18.9125px;
}

.Footer .Upper_Footer .Upper_Div {
  position: relative;
  border-bottom: 1px solid #fff;
}
.Footer .Upper_Footer .Upper_Div p {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.Footer .Upper_Footer .Upper_Div .empty {
  position: absolute;
  background-color: #2965ff;
  width: 20%;
  height: 3px;
  bottom: -2px;
  z-index: 1;
}
.Footer .Upper_Footer .Mid_Comp ul {
  list-style: none;
  padding-top: 10px;
  padding-left: 0;
}
.Footer .Upper_Footer .Mid_Comp ul li {
  margin-top: 20px;
  font-family: Noto Sans;
  font-size: 18px;
  cursor: pointer;
  line-height: 20px;
}
.Footer .Upper_Footer .Right_Comp .Ul_Merge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer .Upper_Footer .Right_Comp .Ul_Merge ul {
  list-style: none;
  padding-top: 10px;
  padding-left: 0;
  width: 40%;
}
.Footer .Upper_Footer .Right_Comp .Ul_Merge ul li {
  margin-top: 20px;
  font-family: Noto Sans;
  font-size: 18px;
  cursor: pointer;
  line-height: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.Footer .Bottom_Footer {
  margin-top: 20px;
  display: flex;
}
.Footer .Bottom_Footer p{
    ali
}