/** @format */

@media (max-width: 768px) {

  .ScoreCard_Slider {
    height: 100%;
  }
  .ScoreCard_Slider .slick-dots li.slick-active button:before {
    color: #2965ff  !important;
  }
  .ScoreCard_Slider .slick-dots{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px !important;
    width: 400px;

  }
  .ScoreCard_Slider .slick-dots li button:before {
    color: #fff  !important;
  }
  .Overflow_Slider{
    overflow:hidden;
  }
  .ScoreCard_Slider .Main_Item {
    width: 320px !important;
    display: block;
    margin: auto;
    height: 208px !important;
  }
  /* ------------------------------- */
  .Index_Three_Sec_Layout {
    display: block;
  }
  .Index_Three_Sec_Layout .left_Comp {
    width: 100%;
  }
  .Index_Three_Sec_Layout .left_Comp .Hide_This {
    display: none;
  }
  .Index_Three_Sec_Layout .Right_Comp {
    width: 100%;
    margin-top: 10px;
  }

  .Index_Three_Sec_Layout .Mid_Comp {
    width: 100%;
    height: 400px;
    margin-top: 10px;
  }

  .Index_Three_Sec_Layout .Right_Comp .Upper_Div .Main_Item .Three_Sec {
    width: 300px;
  }
  .Index_Three_Sec_Layout .Right_Comp .Big_Div .Four_Button button {
    width: 25%;
  }

  /* ---------------------- */

  /* -------------------- */
  .Mobile_Tab_Slider_Blog {
    display: none;
  }
  .Blog_Slider {
    max-height: 550px;
  }
  .Blog_Slider .first .desc {
    top: 60% !important;
  }
  .Blog_Slider .first .desc .Head {
    font-size: 16px;
    line-height: normal;
  }
  .Slider_Container .Prev_Next_cont {
    display: none;
  }
  /* ------------------ */
  .Index_Story_Layout .Ten_Div {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  .Index_Story_Layout .Ten_Div div {
    width: 100%;
  }
  .Index_Story_Layout .Ten_Div img {
    width: 100%;
  }

  /* ---------------------- */

  /* ---------------------- */
  .Slider_Container_Div .Video_Slider .Main_Item {
    width: 330px !important;
    height: 270px !important;
  }

  /* ------------------------- */
  .Footer .Upper_Footer {
    display: block;
  }
  .Footer .Upper_Footer .Left_Comp {
    width: 100%;
    min-width: 500px;
    align-self: flex-start;
  }
  .Footer .Upper_Footer .Mid_Comp {
    width: 100%;
  }
  .Footer .Upper_Footer .Left_Comp .Social_Div p {
    font-size: 16px;
  }
  .Footer .Upper_Footer .Right_Comp {
    width: 100% !important;
  }
  .Footer .Upper_Footer .Right_Comp .Ul_Merge {
    display: block;
  }
  .Footer .Upper_Footer .Right_Comp .Ul_Merge ul {
    width: 100%;
  }
  /* Route (predict) */
  .Predict_Win {
    display: block;
    min-height: 93vh;
    max-height: 100%;
    height: 100%;
  }
  .Predict_Win .Left_Comp {
    width: 100%;
  }
  .Predict_Win .Right_Comp {
    width: 100%;
    height: 800px;
  }
  .Predict_Win .Left_Comp .first {
    height: 600px;
  }
  .Predict_Win .Left_Comp .first .title {
    width: 200px;
  }
  .Predict_Win .Left_Comp .second {
    height: 500px;
  }
  .Predict_Win .Left_Comp .Third img {
    width: 90%;
  }

  .Predict_Win .Right_Comp .Content .desc {
    font-size: 20px;
    line-height: normal;
    margin: 0;
  }

  .Predict_Win .Right_Comp .Content .desc2 {
    font-size: 16px;
    line-height: normal;
  }

  .Predict_Win .Right_Comp .Content .head {
    font-size: 22px;
  }
  .Predict_Win .Right_Comp .Question_Div .Button_Div button {
    font-size: 16px;
    width: 200px;
  }
  .Predict_Win .Right_Comp .Question_Div .Question_Content_Div .two_sec p {
    font-size: 16px;
  }
  .Predict_Win
    .Right_Comp
    .Question_Div
    .Question_Content_Div
    .Two_Sec
    .first
    p {
    font-size: 16px;
  }
  .Predict_Win
    .Right_Comp
    .Question_Div
    .Question_Content_Div
    .Two_Sec
    .second
    p {
    font-size: 16px;
  }
  .Predict_Win
    .Right_Comp
    .Question_Div
    .Question_Content_Div
    .Two_Sec
    .second {
    padding: 5px;
  }
  .Predict_Win .Right_Comp .Question_Div .Question_Content_Div {
    width: 96%;
    border-radius: 5px;
  }

  .Predict_Win .Right_Comp .Question_Div .Question_Content_Div .two_sec {
    width: 100%;
  }
  .Predict_Win .Right_Comp .Question_Div .Last_Button_Div {
    padding-top: 20px;
  }
  .Predict_Win .Right_Comp .Question_Div .Question_Content_Div .two_sec {
    width: 100%;
  }
  /* Route ( LiveScore ) */
  .Live_Score_Two_Sec {
    display: block;
  }
  .Live_Score_Two_Sec .Left_Comp {
    width: 100%;
  }
  .Live_Score_Two_Sec .Left_Comp .third6 {
    display: block;
  }

  .Live_Score_Two_Sec .Left_Comp .third6 .third6itm {
    width: 100%;
    margin-top: 10px;
  }
  .Live_Score_Two_Sec .Left_Comp .third6 .third6itm h4 {
    font-size: 18px;
  }

  .Live_Score_Two_Sec .Left_Comp .third6 .third7 h5 {
    font-size: 16px;
  }

  .Live_Score_Two_Sec .Left_Comp .third6 .third6itm button {
    font-size: 16px;
    width: 160px;
  }

  .Live_Score_Two_Sec .Left_Comp .third5 button {
    width: 40%;
  }
  .Live_Score_Two_Sec .Left_Comp .third5 p {
    line-height: normal;
    margin: 0;
  }

  .Live_Score_Two_Sec .Right_Comp .HIde_THid_One {
    display: none;
  }

  .Live_Score_Two_Sec .Right_Comp {
    width: 100%;
    margin-top: 10px;
  }
  .Live_Score_Two_Sec .Right_Comp .Merge_In {
    display: block;
  }

  .Live_Score_Two_Sec .Right_Comp .third9 button {
    width: 50%;
  }
  .Live_Score_Two_Sec .Right_Comp .third14 button {
    width: 70%;
  }
  /* ------------------ */
  .News_Two_Sec_layout .Mid_Comp {
    width: 70% !important;
  }
  .News_Two_Sec_layout .Mid_Comp .Min_Item .head {
    line-height: normal;
  }
  .News_Two_Sec_layout .Mid_Comp .Min_Item .content {
    width: 90%;
  }
  .News_Two_Sec_layout .Right_Comp {
    width: 30% !important;
  }

  /*  Route (FantasyPreview) */
  .Fantasy_Two_Sec {
    display: block;
  }

  .Fantasy_Two_Sec .Right_Comp {
    display: block;
    width: 100%;
  }
  .Fantasy_Two_Sec .Right_Comp .Item {
    width: 100%;
  }
  .Fantasy_Two_Sec .Right_Comp .Item img {
    width: 100%;
  }
  .Fantasy_Two_Sec .Left_Comp {
    padding-top: 10px;
    width: 100%;
  }
  .Fantasy_Two_Sec .Left_Comp .head {
    font-size: 16px;
  }
  .Fantasy_Five_Sec {
    display: grid;
    grid-template-columns: auto;
  }
  .Fantasy_Five_Sec .Item {
    width: 100%;
  }

  /* -------
   */
  .Pagination_Div {
    width: 90%;
  }
  /* Route (AboutUs) */
  .AboutUs_Banner {
    height: 250px;
  }
  .AboutUs_Banner p {
    font-size: 40px;
    line-height: normal;
    text-align: center;
  }

  /*  */

  .Trading_Div .Left_Comp .Head {
    font-size: 18px;
    line-height: normal;
  }
  .Trading_Div .Left_Comp .desc {
    font-size: 16px;
    line-height: normal;
  }
  .Trading_Div .Left_Comp .Trading_Content p {
    font-size: 16px;
  }
  .Trading_Div .Right_Comp .Big_Image img {
    display: none;
  }

  /* ROute (News) */

  .Index_Center_GIF img {
    width: 90%;
    height: 250px;
  }
  .Index_Center_Desc .Main_Comp .head {
    font-size: 20px;
  }

  .Index_Center_Desc .Main_Comp .desc p {
    width: 100%;
    max-width: 100%;
  }
  /* ---------------- */
  .INdex_Slide_Tab .Main_Item {
    width: 320px !important;
    height: 290px !important;
  }

  /* ------------ */
  .Index_Three_Cont {
    grid-template-columns: auto;
  }

  .Index_Three_Cont .Main_Component .head {
    font-size: 16px;
    line-height: normal;
    margin-top: 5px;
  }

  /* ---------------- */
  .News_Two_Sec_layout {
    display: block;
  }
  .News_Two_Sec_layout .Mid_Comp {
    width: 100% !important;
  }
  .News_Two_Sec_layout .Right_Comp {
    width: 100% !important;
  }
  .News_Two_Sec_layout .Right_Comp .Hide_This_One {
    display: none;
  }

  .News_Two_Sec_layout .Mid_Comp .Min_Item .desc {
    font-size: 12px;
    line-height: normal;
  }
  .News_Two_Sec_layout .Mid_Comp .Min_Item .head {
    font-size: 18px;
    line-height: normal;
  }
  .News_Two_Sec_layout .Mid_Comp .Min_Item .content {
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin-top: 5px;
    line-height: normal;
  }

  /* -------------------------- */
  .Index_Three_Sec_Layout_2 {
    display: block;
    height: 100%;
  }
  .Index_Three_Sec_Layout_2 .Hide_On_Tab {
    display: none;
  }

  .Index_Three_Sec_Layout_2 .Mid_Comp {
    height: 100%;
  }
  .Index_Three_Sec_Layout_2 .Mid_Comp .Blog_Div .Two_Sec {
    display: block;
  }
  .Index_Three_Sec_Layout_2 .Mid_Comp .Blog_Div .Two_Sec img {
    display: block;
    width: 100%;
  }
  .Index_Three_Sec_Layout_2 .left_Comp .Hide_This {
    display: none;
  }

  /* -------------------------- */
  .Sport_Index_Three_Sec_Layout .Mid_Comp {
    height: 100%;
  }
  .Sport_Index_Three_Sec_Layout .Mid_Comp .Blog_Div .Two_Sec {
    display: block;
  }
  .Sport_Index_Three_Sec_Layout .Mid_Comp .Blog_Div .Two_Sec img {
    width: 100%;
  }
  .Sport_Index_Three_Sec_Layout .Mid_Comp .Blog_Div .Two_Sec p {
    font-size: 16px;
    margin-top: 10px;
  }
  .Sport_Index_Three_Sec_Layout .Hide_On_Tab {
    display: none;
  }
  /* ----------------------- */
  .Index_Trending_Reel {
    padding: 20px;
  }

  /* ------------------------ */
  .Fantasy_Three_Sec {
    display: grid;
    grid-template-columns: auto auto;
  }
  .Fantasy_Three_Sec .Item {
    width: 100%;
    margin-top: 10px;
  }
  .Fantasy_Three_Sec .Item_2 {
    width: 100%;
    margin-top: 10px;
  }
  /* ---------------- */
  .Video_Screen .Left_Comp .Two_Sec_Div {
    display: block;
  }
  .Video_Screen .Left_Comp .Two_Sec_Div .Item {
    width: 100%;
    margin-top: 10px;
  }
  /* -------------- */

  .ScoreCard_Two_Sec_Layout .Left_Comp .Table_Comp .fourth2 .fourth3 {
    width: 100%;
  }
  .ScoreCard_Two_Sec_Layout .Left_Comp .Table_Comp .fourth5 {
    width: 100%;
  }
  /* -------------- */

  .Trading_Div .Left_Comp .Trading_Two_Sec {
    display: block;
  }
  .Trading_Div .Left_Comp .Trading_Two_Sec .Left_Comp {
    width: 100%;
  }

  .Trading_Div .Left_Comp .Trading_Two_Sec .Left_Comp .head {
    font-size: 18px;
    line-height: normal;
  }
  /* ------------- */
  .Trading_Div .Left_Comp .Five_Sec {
    display: block;
  }
  .Trading_Div .Left_Comp .Five_Sec img {
    margin-right: 10px;
    margin-top: 10px;
  }
  .Trading_Div .Left_Comp .Comment_Div .Main {
    display: block;
  }
  .Trading_Div .Left_Comp .Comment_Div .Main input {
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .Trading_Div .Left_Comp .Comment_Div .Main div {
    margin-top: 10px;
  }

  .Trading_Div .Right_Comp .third8 .third9 button {
    width: 90% !important;
    display: block;
    margin: auto;
  }
  /* ------------------- */

  .Contact_Modal .Head {
    font-size: 30px;
    margin-top: 20px;
  }

  .Contact_Modal form button {
    width: 90%;
    font-size: 20px;
    height: auto;
    padding: 10px;
  }
  .Contact_Modal .Logo {
    width: 100px;
  }

  .LoginModal .Last_Button {
    width: 90%;
    font-size: 20px;
  }

  .LoginModal .Logo {
    width: 100px;
  }
  .LoginModal .Main_Big {
    width: 90%;
  }

  .LoginModal form .Main {
    width: 90%;
  }
  .AdModalTitle p {
    text-align: center;
    font-size: 16px;
  }

  .Removing_In_Mobile{
    display: none !important;
  } 

  .Stick-navbar-2 {
    display: block;
  }
  .Header_Container{
    height: 130px;
  }
  .Header_Container_2{
    height: 70px;
  }

  .Mobile_Navbar {
    display: block;
  }
  .Mobile_Navbar .upper{
    padding-right: 10px;
  }
  .Mobile_Navbar .Left_Container .Logo_Div img{
    width: 100px !important;
  }
  .Mobile_Bar img{
    width: 120px;
  }



}
