
/* === navbar styling ====*/

.Navbar {
    display: flex;
    justify-content: space-between;
    background: #2965ff;
    /* height: 90px; */
    padding: 20px;
    width: 100%;
  }
  .nav2 {
    width: 30%;
  }
  .nav3 {
    width: 70%;
  }
  .nav4 {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  .nav4 img {
    height: 60px;
    width: 40px;
  }
  .nav4 p {
    color: #fff;
    font-size: 25px;
    margin-top: 5px;
  }
  .nav5 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }
  .nav5itm p {
    color: #fff;
    font-size: 20px;
  }
  