/**
 * laptop
 *
 * @format
 */

@media screen and (min-width: 780px) and (max-width: 1500px) {

    .Navbar .Left_Container{
        width: 20%;
    }
    .Navbar .Right_Container {
        width: 80%;
    }
    .Navbar .Right_Container .Item  {
        display: grid;
        /* border: 1px solid black; */
       text-align: center;
    }

    .Fading_Category .Left_Container {
        width: 80%;
    }
    .ScoreCard_Slider {
        padding-left: 40px;
    }
.Index_Three_Sec_Layout{
    /* display: block; */
}
    .Index_Three_Sec_Layout .left_Comp{
        width: 25%;
    }
    .Index_Three_Sec_Layout .Right_Comp{
        width: 25%;
    }

    .Index_Three_Sec_Layout .Mid_Comp {
        width: 50%;
    }

}














@media screen and (min-width: 600px) and (max-width: 980px) {
}
