/* laptop */

@media screen and (min-width: 780px) and (max-width: 1500px) {}
  
  @media screen and (min-width: 600px) and (max-width: 980px) {
    .MainNav {
      max-width: 800px;
    }
    .child {
      max-width: 800px !important;
    }
    .ImageCarousel {
      max-width: 800px;
    }
    .two-sec {
      max-width: 800px;
    }
    .two-sec .right h1 {
      font-size: 1.6rem;
    }
    .two-sec .right p {
      font-size: 18px;
    }
    .two-sec .right button {
      font-size: 24px;
    }
    .pro {
      max-width: 800px;
    }
    .pro h1 {
      font-size: 1.6rem;
    }
    .pro button {
      font-size: 24px;
    }
    .NewProductS {
      max-width: 800px;
    }
    .NewProductS .item .imgeOuter {
      height: 200px;
    }
    .myHr {
      max-width: 800px !important;
    }
    .myNewSec {
      max-width: 800px;
    }
    .myNewOldSec {
      max-width: 800px;
      gap: 0px;
    }
    .myNewOldSec .left {
      width: 45%;
    }
    .myNewOldSec .right {
      width: 45%;
    }
    .many {
      max-width: 800px;
    }
    .BanImage {
      max-width: 800px;
    }
    .human {
      max-width: 800px;
    }
    .footer .all {
      max-width: 800px;
    }
    .Gamers {
      max-width: 800px !important;
    }
    #FileBtn {
      bottom: 160px;
      left: 54%;
    }
    .two-sec-form {
      max-width: 800px;
    }
    .two-sec-form .right img {
      height: 100% !important;
    }
  
    .BMIbutton {
      margin-bottom: 20px;
    }
    .BMI {
      margin-left: 10%;
    }
    .gym-B {
      max-width: 800px !important;
    }
    .gym-B .left {
      width: 48%;
    }
    .men-b {
      max-width: 800px !important;
      height: 550px;
    }
    .men-b .left {
      padding-top: 0;
      width: 40%;
      position: relative;
    }
    .men-b .left p {
      font-size: 2rem;
    }
    .men-b .left h1 {
      font-size: 2rem;
    }
    .men-b .left button {
      position: absolute;
      bottom: 120px;
      width: 200px;
      left: 20px;
    }
    .men-b .left .nap {
      bottom: 10px;
    }
    .MyOrderHead {
      max-width: 800px !important;
    }
    .StatusRefund {
      max-width: 800px !important;
    }
    .StatusRefundBox {
      max-width: 800px !important;
    }
    .MyOrderPlaced {
      max-width: 800px !important;
    }
    .OrderSum {
      max-width: 800px;
    }
    .OrderSumSection {
      max-width: 800px;
    }
    .OrderSumInvoice {
      max-width: 800px;
    }
    .return {
      max-width: 800px;
    }
    .MyOrderTwoSec {
      max-width: 800px;
    }
    .ReturnCom {
      max-width: 800px;
    }
    .shopping {
      max-width: 800px;
    }
    .shoppingAddress {
      max-width: 800px;
    }
    .shoppingTwoSec {
      max-width: 800px;
    }
    .StatusRefundTwoSec {
      max-width: 800px;
    }
    .your-add-threeSec {
      max-width: 800px;
      grid-template-columns: auto auto;
    }
    .your-add {
      max-width: 800px;
    }
    .profileEdit {
      max-width: 800px;
    }
    .customerSer {
      max-width: 800px;
    }
    .customerSerHead {
      max-width: 800px;
    }
    .specialTable {
      max-width: 400px !important;
    }
    .FAQ {
      max-width: 800px;
    }
    .FAQInput {
      max-width: 800px;
    }
    .FAQtwosec {
      max-width: 800px;
    }
  
    .facial {
      max-width: 800px;
    }
    .facialH1 {
      max-width: 800px;
    }
    .facialAdd {
      max-width: 800px;
    }
    .facialDesc {
      max-width: 800px;
    }
    .facialTwosec {
      max-width: 800px;
      display: block;
    }
    .facialTwosec .left {
      width: 60%;
      margin-bottom: 20px !important;
      margin: auto;
    }
    .facialCon {
      max-width: 800px;
    }
    .facialThreeSec {
      max-width: 800px;
    }
    .facialThreeImg {
      max-width: 800px;
      grid-template-columns: auto auto;
      justify-content: space-evenly;
    }
    .facialThreeImg div {
      width: 380px;
      margin-top: 5% !important;
    }
  
    .returnRefundPdiv {
      max-width: 800px;
    }
    .returnRefundPdiv2 {
      max-width: 800px;
    }
  
    .SingleP {
      max-width: 800px;
      display: block;
      position: relative;
    }
  
    .nnn {
      margin-top: 0;
      margin-right: 0;
    }
  
    .SingleP .midOilthree {
      top: 0;
      left: 0;
      right: 0;
      margin: auto auto;
      width: 300px;
      position: absolute;
      justify-content: center;
    }
    .SingleP .mid img {
      width: 100%;
    }
    .vegLogo .first img {
      width: 40px;
      height: 40px;
    }
  
    .amazon {
      display: block;
      margin: auto;
      text-align: center;
      max-width: 800px;
      margin-top: 5% !important;
    }
    .amazon h2 {
      border-bottom: 0px !important;
    }
    .SingleP .right {
      width: 100%;
    }
  
    .SingleP .right .left {
      display: none;
    }
  
    .Tog {
      max-width: 800px;
    }
  
    .Syrup {
      max-width: 800px;
    }
  
    .Syrup .ImagesS {
      width: 250px;
      height: 250px;
    }
  
    .plus {
      padding-top: 20px;
    }
  
    .technI {
      max-width: 800px;
    }
    .TB {
      max-width: 800px;
    }
    .ProductReviews {
      max-width: 800px;
    }
    .shoppingH2 {
      max-width: 800px;
    }
    .shoppingTrackBtn {
      max-width: 800px;
      gap: 10px;
    }
    .OrderSummary {
      max-width: 800px;
      display: block;
    }
    .OrderSummary .left {
      width: 100%;
    }
    .OrderSummary .right {
      width: 100%;
      margin: auto;
    }
    #MyFormNew {
      margin-left: auto;
    }
    .ReturnRefund {
      max-width: 800px;
    }
    .secondSummm {
      max-width: 800px;
    }
    .ReturnRefund button {
      width: 200px;
    }
  
    .specialLastBtn{
      margin-left: 0% !important;
      display: block !important;
      margin: auto !important;
      margin-bottom: 5% !important;
    }
  }
  
  